.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}

  
  .incrementAndDecrement {
    text-align: center;
    padding: 20px;
  }
  
  button {
    margin: 10px;
  }